@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    background-color: rgb(228, 229, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}


.heading {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: black;
    justify-content: center;
    align-items: center;
}

.heads{
    font-size: 20px;
    margin-top: -1px;
    color: black;
    text-decoration: none;
}

.logo{
    /* margin-top: -1; */
    color: black;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    /* gap:50px; */
    transition: transform 0.25s ease-in-out;
}

.socials i:hover {
    transform: scale(1.2);
}

.troll {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: none;
    /* font-size: 15px; */
}
.troll:hover{
    text-decoration: none;
}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid rgb(147, 148, 165);
    height: 370px;
    width: 515px;
    border-radius: 5px;
}

.command {
    display: flex;
    width: 480px;
    height: 340px;
    flex-direction: column;
    gap: 15px;
}

.outputbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-radius: 5px;
    flex-direction: row;
    /* padding-top: 10px; */
    gap: 10px;
}

.display {
    outline: 2px solid rgb(147, 148, 165);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.displaybox {
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    height: 95%;
    width: 98%;
    font-size: 40px;
}

.cls {
    outline: 2px solid rgb(147, 148, 165);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    height: 100%;
    width: 100px;
    color: black;
}

.cls:hover {
    background-color: rgb(147, 148, 165);
    color: white;
}

.inputbox {
    display: flex;
    outline: 2px solid rgb(147, 148, 165);
    justify-content: center;
    align-items: center;
    height: 230px;
    border-radius: 5px;
    font-size: 20px;
    /* padding-bottom: 10px; */
}

.inputbtns {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 215px;
    width: 475px;
    flex-direction: column;
    gap: 5px;
}

.col {
    display: flex;
    /* outline: 2px solid rgb(218, 208, 208); */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 560px;
    height: 50px;
    gap: 7px;
}

.row {
    display: flex;
    outline: 2px solid rgb(218, 208, 208);
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 35px;
    border-radius: 5px;
    /* gap: 5px; */
}

.row:hover {
    outline: 2px solid rgb(147, 148, 165);
}

.act {
    background-color: rgb(147, 148, 165);
    outline: 2px solid rgb(147, 148, 165);
}

.act:hover {
    outline: 2px solid rgb(218, 208, 208);
}

.themetoggle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.themetoggle i{
    color: black;   
    font-size: 25px;
    transition: transform 0.25s ease-in-out;
    background-color: rgb(147, 148, 165);
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
}

